{% extends 'FrontOffice/login.html.twig' %}

{% block form %}
<form class="row contact_form" method="post" novalidate="novalidate">

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <div class="col-md-12 form-group p_star">
        <input type="email" value="{{ last_username }}" name="email" 
        id="inputEmail" class="form-control" placeholder="Email" required>
    </div>

    <div class="col-md-12 form-group p_star">
        <input type="password" name="password" id="inputPassword" 
        class="form-control"  placeholder="Password" required>
    </div>
    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
    #}
    <div class="col-md-12 form-group">
        <div class="checkbox mb-3 creat_account d-flex align-items-center">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me  
            </label><pre>          </pre>
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>

        <button class="btn_3" value="submit" type="submit">
            Sign in
        </button>

    </div>
</form>
{% endblock %}
