{% extends '/FrontOffice/base.html.twig' %}

{% block body %}
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>All services</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <section class="property-section latest-property-section spad">
        <div class="container">

            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title">
                        <h4>Latest Services</h4>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="property-controls">
                        <ul>
                            <li data-filter="all">All</li>
                            <li data-filter=".event">Events</li>
                            <li data-filter=".session">sessions</li>
                            <li data-filter=".recipe">Recipes</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row property-filter">
                {% set classType="col-lg-4 col-md-6 mix all event" %}
                {% set img='assets/img/portfolio/portfolio-3.jpg' %}
                {% set eventid=0 %}
                {% for all in allItems %}
                    
                    {% if all.className=='Event' %}
                        {% set eventid=all.id %}
                        {% set classType="col-lg-4 col-md-6 mix all event" %}
                        {% set img='assets/img/event.jpg' %}
                    {% elseif all.className=='session' %}
                        {% set classType="col-lg-4 col-md-6 mix all session" %}
                        {% set img='assets/img/session.jpg' %}
                 
                    {% elseif all.className=='Recipe' %}
                        {% set classType="col-lg-4 col-md-6 mix all recipe" %}
                        {% set img='assets/img/recipe1.jpg' %}
                    {% endif %}
                    <div class="{{ classType }}">
                        <div class="property-item">
                            {% if all.className!='x' %}
                            <div class="pi-pic set-bg" data-setbg="{{ asset('assets/img/'~all.className|lower ~'/'~all.imgUrl) }}">
                                <div class="label">{{ all.className }}</div>
                            </div>
                            {% else %}
                                <div class="pi-pic set-bg" data-setbg="../assets/others/img/property/property-1.jpg">
                                    <div class="label">{{ all.className }}</div>
                                </div>
                                {% endif %}

                            <div class="pi-text">
                            
                                <div class="pt-price" id="event{{ all.id }}"></div>
                                <h5><a href="{{ path ('details', {'type':all.className|lower, 'id':all.id}) }}">{{ all.title }}</a></h5>
                                
                                <div class="pi-agent">
                                    <div class="pa-item">
                                        <div class="pa-info">
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section><!-- End Portfolio Section -->
    <script>
        {% for all in allItems %}
            var id = document.getElementById("event{{ all.id }}");
            console.log(id);
        {% endfor %}
    </script>
{% endblock %}
