{% extends '/FrontOffice/base.html.twig' %}

{% block body %}
</br>
<main class="justify-countent-center ">
    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
            	<div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Profile</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->

	<!--================login_part Area =================-->
	<section class="section_padding ">
			<div class="row">
				<div class="offset-3 col-2 card-box height-100-p overflow-hidden">
				<img height="200px" src="../assets/img/team-3.jpg" />
					<hr/>
					<h4 class="text-blue h5 mb-20">Profile Information</h4>
						<div class="form-group">
							<label class="text-info">Email :</label><br/>
							<label>{{user.email}}</label>
						</div>

						<div class="form-group">
							<label class="text-info">First Name :</label><br/>
							<label >{{user.firstName}}</label>
						</div>

						<div class="form-group">
							<label class="text-info">Last Name :</label><br/>
							<label>{{user.lastName}}</label>
						</div>

						<div class="form-group">
							<label class="text-info">Date Of Birth :</label><br/>
							{{ user.dateOfBirth|date("m/d/Y") }}
						</div>
					</div>
				<div class="col-7 card-box height-100-p overflow-hidden">  
					<div class="" id="" role="">
						<form method="post" action="{{ path('update_user') }}" >
							<ul class="profile-edit-list">
								<li class="weight-500 col-md-6">
									<h4 class="text-blue h5 mb-20">Edit Your Personal Setting</h4>
									
									<input type="hidden" name="userId" value={{user.userId}}>
									<div class="form-group">
										<label>First Name</label>
										<input class="form-control form-control-lg" type="text" name="firstNameUpdated" value={{user.firstName}}>
									</div>

									<div class="form-group">
										<label>Last Name</label>
										<input class="form-control form-control-lg" type="text" name="lastNameUpdated"  value={{user.lastName}}>
									</div>

									<div class="form-group">
										<label>Email</label>
										<input class="form-control form-control-lg" type="text" name="emailUpdated"  value={{user.email}}>
									</div>

									<div class="form-group">
										<label>Date of birth</label>
										<input class="form-control form-control-lg date-picker" type="date" name="dateUpdated" value={{ user.dateOfBirth|date("d/m/Y") }} >
									</div>

									<div class="form-group mb-0">
										<input type="submit" class="btn btn-secondary" id="submit" value="Update">
									</div>
								</li>
															
							</ul>
						</form>
					</div>
				</div>
	</section>

	<div>	<hr/></br></br></br></br></br></br>
		<div class="offset-4 ">  
			<div class="" id="" role="">
				<form method="post" action="{{ path('update_Password') }}" >
					<ul class="profile-edit-list">
						<li class="weight-500 col-md-6">
						<h4 class="text-blue h5 mb-20">Edit Your Password Setting</h4>
									
						<input type="hidden" name="userId" value={{user.userId}}>
						<input type="hidden" name="password" value={{user.password}}>
						<div class="form-group">
							<label>Old Password</label>
							<input class="form-control form-control-lg" type="password" name="OldPassword" value="">
						</div>

						<div class="form-group">
							<label>New Password</label>
							<input class="form-control form-control-lg" type="password" name="NewPassword"  value="">
						</div>

						<div class="form-group">
							<label>Confirm New Password</label>
							<input class="form-control form-control-lg" type="password" name="ConfirmNewPassword"  value="">
						</div>

						<div class="form-group mb-0">
							<input type="submit" class="btn btn-secondary " id="submit" value="update">
						</div>
						</li>
															
					</ul>
				</form>
			</div>
		</div>
			</br></br></br></br></br></br>
	</div>

</main>	
<!--================login_part end =================-->	
{% endblock %}