{% extends '/FrontOffice/base.html.twig' %}

{% block body %}
    <!-- Hero Area Start-->
    {% set category='' %}
    {% set img='' %}
    {% for all in sessions %}
        {% set category=all.cat.name %}
        {% set img=all.cat.imgUrl %}
    {% endfor %}
    <div class="slider-area ">
        <div class="">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <img src=" {{ asset('assets/img/session/'~img) }}" width="1000" height="300" >
                            <h2>{{ category }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End-->
    <section class="property-section latest-property-section spad">
        <div class="container">

            <div class="row">
                <div class="col-lg-5">
                    <div class="section-title">
                        {% if is_granted('ROLE_coach') %}
                            <h4> <a style="color: black" href="{{ path('add_session')}}">Create new session</a></h4>
                        {% else %}
                            <h4> <a style="color: black" href="{{ path('add_session')}}">All sessions</a></h4>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="property-controls">
                        <ul>
                            <li data-filter="all">All</li>
                            <li data-filter=".paid">Paid</li>
                            <li data-filter=".session">Free</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row property-filter">
                {% set classType="col-lg-4 col-md-6 mix all event" %}
                {% set img='assets/img/portfolio/portfolio-3.jpg' %}
                {% set price=0 %}
                {% for all in sessions %}

                    {% if all.type=='paid' %}
                        {% set classType="col-lg-4 col-md-6 mix all paid" %}
                        {% set img='assets/img/event.jpg' %}
                    {% elseif all.className=='session' %}
                        {% set classType="col-lg-4 col-md-6 mix all session" %}
                        {% set img='assets/img/session.jpg' %}

                    {% endif %}

                    <div class="{{ classType }}">
                        <div class="property-item">
                            <div class="pi-pic set-bg" data-setbg="">
                                <img src=" {{ asset('assets/img/session/'~all.imgUrl) }}" width="360px" height="240px">
                                <div class="label">{{ all.className }}</div>
                            </div>
                            <div class="pi-text">
                                <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>

                                {% for paidsession in paid %}

                                    {% if all.id==paidsession.session.id %}
                                        {% set price=paidsession.price %}
                                    {% endif %}
                                {% endfor %}
                                {%  if all.type=='paid'  %}
                                    <div class="pt-price">{{ price }}<span>Dt</span></div>

                                {% else  %}
                                    <div class="pt-price">Free</div>
                                {% endif %}
                                <h5><a href="{{ path('session_details' ,{'idt':all.id})}}">{{ all.title }}</a></h5>

                                <div class="pi-agent">
                                    <div class="pa-item">
                                        <div class="pa-info">
                                            <img src="../assets/others/img/property/posted-by/pb-1.jpg" alt="">
                                            <h6>{{ all.u.firstName }} {{ all.u.lastName }}</h6>
                                        </div>
                                        <div class="pa-text">
                                            {{ all.createdAt }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>

        </div>
    </section><!-- End Portfolio Section -->
{% endblock %}